/* You can add global styles to this file, and also import other style files */
:root {
  --default: rgba(0,0,0,0.5);
  --active : #00adfe;
  --hover : #C7E0F4;
}
body,
html {
  height: 100%;
  padding: 1px;
  line-height: 1.2;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

/* Finder Structure */

.finder {
  height: 100%;
  width: 100%;
  padding: .25rem;
  border: 1px solid var(--default);
  display: flex;
  flex-flow: column;
}

/* Finder Header */

.finder-header {
  padding: 0.5 rem !important;
  font-weight: bold;
}

.finder-header i {
  float: right;
}

.navbar-nav {
  width: 25%
}

.navbar-form {
  width: 75%
}
.nav-link {
  padding: 5px;
}

.nav-link:hover {
  background: var(--hover);
}

#navbar-form {
  width: 100%;
  padding-left : 10px;
}
#navbar-chemin-group {
width : 70%;
}
.full-width {
  width: 100% !important;
  max-width: 100%;
  padding : 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-search-group {
  width: 30%;
  padding-left : 10px;
}

/* Surcharger Bootstrap */

.navbar {
  padding: 10px 0px;
}

.form-control {
  border-radius: 0px
}

/* Dropdown */
.dropdown-menu {
  border-radius : 0px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--active);
  color: white;
}
/* Fin Surcharger Bootstrap */

/* Search icon */

.inner-addon {
  position: relative;
}

.inner-addon .far,
.inner-addon .fas,
.inner-addon .fal {
  position: absolute;
  padding: .25rem;
  font-size: 1rem;
  color : var(--default);
  pointer-events: none;
}

.left-addon .fas,
.left-addon .far,
.left-addon .fal {
  left: 0px;
}

.right-addon .fas,
.right-addon .far,
.right-addon .fal {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

/* End Search icon */

.divider {
  min-height: 100%;
  height: 100%;
  border-left: 1px solid var(--default);
}

.calibri-light {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
}

.calibri-regular {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-style: normal;
  font-size : 1rem;
  font-weight: 700;
}

.finder-thead {
  border-bottom : 1px solid var(--default);
  padding-bottom : 4px;
}

.finder-domain {
  overflow: auto;
  display: block;
  min-height: inherit;
  flex: 1;
}

.finder-domain-item {
  width: 100%;
  padding : 0.25rem;
  padding-left : 1.5rem;
  cursor: pointer;
}

.finder-domain-item:hover {
  background-color: var(--hover);
  color : white;
}

.full-height {
  flex: 1 0 auto;
  flex-wrap: wrap;
  min-height: inherit;
}

.nopadding {
  padding : 0px !important;
}

summary {
  padding : 10px;
  font-weight: bold;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.domain-icon {
  float: left;
}

.pin {
  float:right;
}

.pin:hover {
  font-size: 120%;
}

.domain-name {
  margin: auto;
  padding : .5rem 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  background-color : var(--active);
}
